<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <h1>Some website</h1>
    <p>Some text here</p>

    {{> footer}}
    <!-- <footer>
      <p>Copyright {{currentYear}}</p>
    </footer> -->
  </body>
</html>
